name: shorebird_code_push
description: Check for and download Shorebird code push updates from your app.
version: 1.1.2
homepage: https://shorebird.dev
repository: https://github.com/shorebirdtech/updater/tree/main/shorebird_code_push

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  ffi: ^2.0.2
  meta: ^1.9.1

dev_dependencies:
  ffigen: ^8.0.2
  mocktail: ^0.3.0
  test: ^1.19.2
  very_good_analysis: ^5.0.0

ffigen:
  output: "lib/src/generated/updater_bindings.g.dart"
  name: "UpdaterBindings"
  headers:
    entry-points:
      - "../library/include/updater.h"
  preamble: |
    // ignore_for_file: unused_element, unused_field
