name: shorebird_code_push
description: Check for and download Shorebird code push updates from your app.
version: 2.0.5
homepage: https://shorebird.dev
repository: https://github.com/shorebirdtech/updater/tree/main/shorebird_code_push

environment:
  sdk: ">=3.5.4 <4.0.0"
  flutter: ">=3.24.5"

dependencies:
  ffi: ^2.0.2
  meta: ^1.9.1

dev_dependencies:
  ffigen: ">=8.0.2 <17.0.0"
  mocktail: ^1.0.0
  test: ^1.19.2
  very_good_analysis: ^7.0.0

ffigen:
  output: "lib/src/generated/updater_bindings.g.dart"
  name: "UpdaterBindings"
  headers:
    entry-points:
      - "../library/include/updater.h"
  preamble: |
    // ignore_for_file: unused_element, unused_field
